html, body {
  padding: 0;
  margin: 0;
  font-family: arial;
  background-color: #bcc2fc;
}

header {
  background-color: #f9e4df;
  text-align: center;
  padding: 15px;
  color: white;
}
p {
    background-color: pink;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.ma_class {
  background: #e65c00;
  background: -webkit-linear-gradient(to top, #bcc2fc, #f9e4df);
  background: linear-gradient(to top, #bcc2fc , #f9e4df);
  filter: drop-shadow(0 0 0.75rem white);
}
